body {
  background-image: url("./img/coffeeBG.jpeg");
  background-position:center;
  background-repeat:round;
  background-attachment: fixed;
  border: 20px;
  padding: 25px;
  margin: 50px;
	margin-bottom: 150px;
  opacity: 85%;
	text-align: justify;
	display: block;
	box-sizing: border-box;
	float:left;
  color: black;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
